


<%# photos 10 %>

  
<div class="flow12">   
    <div class="flow12-left">    
        <%- partial('flowentry',{entry: photos[0]})%>   
    </div>
  
    <div class="flow12-right">    
       
        <%- partial('flowentry',{entry: photos[1]})%>        
        <%- partial('flowentry',{entry: photos[2]})%>        
        
    </div>
</div>



<div class="flow11">
    <div class="flow11-left">  
        <%- partial('flowentry',{entry: photos[3]})%>       
    </div>
    <div class="flow11-right">       
        <%- partial('flowentry',{entry: photos[4]})%>     
    </div>
</div>


<div class="flow21">  
    <div class="flow21-left">    

        <%- partial('flowentry',{entry: photos[5]})%>        
        <%- partial('flowentry',{entry: photos[6]})%>   

    </div>

    <div class="flow21-right">

              
        <%- partial('flowentry',{entry: photos[7]})%>    

    </div>    
</div>



<div class="flow11">

<div class="flow11-left">
    <%- partial('flowentry',{entry: photos[8]})%>  
</div>
        
    
<div class="flow11-right">            
    <%- partial('flowentry',{entry: photos[9]})%>     
</div>

</div>
